<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="ProbesDialog">
		<title>Probes</title>
		<id_arg>0</id_arg>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
						<cols>2</cols>
						<growablecols>0,1</growablecols>
						<growablerows>2</growablerows>
						<object class="sizeritem">
							<object class="wxPanel" name="ID_PANEL2" variable="Panel2" member="yes">
								<object class="wxBoxSizer" variable="BoxSizer2" member="no">
									<object class="sizeritem">
										<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrl1" member="yes">
											<size>30,-1</size>
											<focused>1</focused>
										</object>
										<flag>wxTOP|wxBOTTOM|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
											<label> = </label>
											<size>20,-1</size>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
									</object>
									<object class="sizeritem">
										<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="TextCtrl2" member="yes">
											<size>210,26</size>
										</object>
										<flag>wxTOP|wxBOTTOM|wxLEFT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
									</object>
								</object>
							</object>
							<flag>wxTOP|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxButton" name="ID_BUTTON1" variable="btnAddProbe" member="yes">
								<label>Add</label>
								<handler function="OnbtnAddProbeClick" entry="EVT_BUTTON" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxBoxSizer" variable="BoxSizer5" member="no">
								<orient>wxVERTICAL</orient>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
										<label>Description:</label>
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="TextCtrl3" member="yes" />
									<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
								</object>
							</object>
							<flag>wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
								<label></label>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxPanel" name="ID_PANEL3" variable="Panel3" member="yes">
								<object class="wxCheckListBox" name="ID_CHECKLISTBOX1" variable="CheckListBox1" member="yes">
									<pos>0,0</pos>
									<size>280,112</size>
								</object>
							</object>
							<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxBoxSizer" variable="BoxSizer3" member="no">
								<orient>wxVERTICAL</orient>
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON2" variable="Button2" member="yes">
										<label>Edit</label>
									</object>
									<flag>wxTOP|wxLEFT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
								</object>
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON4" variable="Button4" member="yes">
										<label>Remove</label>
									</object>
									<flag>wxBOTTOM|wxLEFT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<option>1</option>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL4" variable="Panel4" member="yes">
					<object class="wxBoxSizer" variable="BoxSizer4" member="no">
						<object class="spacer">
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStdDialogButtonSizer" variable="StdDialogButtonSizer1" member="no">
								<object class="button">
									<object class="wxButton" name="wxID_OK">
										<label></label>
									</object>
								</object>
								<object class="button">
									<object class="wxButton" name="wxID_HELP">
										<label></label>
									</object>
								</object>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
			</object>
		</object>
	</object>
</wxsmith>
